
* **apply** - apply over the margins of an array (e.g. the rows or columns of a matrix)
* **lapply** - apply a function to each element of a list in turn and get a list back.
* **sapply** - apply a function to each element of a list and get a simplified object like vector back, rather than a list.
* **tapply** - apply a function to subsets of a vector and the subsets are defined by some other vector, usually a factor.
* **mapply** - apply a function to the 1st elements of each, and then the 2nd elements of each, etc

In [224]:
set.seed(111)
m <- matrix(data=cbind(rnorm(30, 0), rnorm(30, 2), rnorm(30, 5)), nrow=30, ncol=3)
m

      [,1]        [,2]       [,3]
 [1,]  0.23522071 -1.1132173 4.783571
 [2,] -0.33073587  1.0586426 6.446478
 [3,] -0.31162382  3.4002588 5.409710
 [4,] -2.30234566  0.3795300 5.910917
 [5,] -0.17087604 -0.2659960 6.430358
 [6,]  0.14027823  3.1629936 4.618708
 [7,] -1.49742666  1.8838450 5.202307
 [8,] -1.01018842  2.3342560 4.193801
 [9,] -0.94847560  1.3791419 5.294634
[10,] -0.49396222  0.6901551 6.404883
[11,] -0.17367413  0.8242740 6.023767
[12,] -0.40659878  0.8787845 5.476126
[13,]  1.84563626  0.6380955 4.329670
[14,]  0.39405411  2.4811246 5.159234
[15,]  0.79752850  2.7419716 4.617285
[16,] -1.56666536  2.0278246 5.935763
[17,] -0.08585101  2.3313797 4.368468
[18,] -0.35913948  2.6441141 4.901694
[19,] -1.19360897  4.4856616 6.031985
[20,]  0.36418674  3.9599817 5.387808
[21,]  0.36166245  2.1916634 3.743871
[22,]  0.34696437  3.5525443 4.213047
[23,]  0.18973653  2.9142423 5.429812
[24,] -0.15957681  2.3586254 4.623584
[25,]  0.32654924  2.1750956 3.783771
[26,]  0.59825420  1.1527322 6.029279
[27,] -1.84153430  2.9782317 5.430397
[28,]  2.71805560  3.8058683 3.754426
[29,]  0.19124439  2.1229148 4.397272
[30,] -1.30129607  1.8702280 5.660069

### apply
* When you want to apply a function to the rows or columns of a matrix (and higherdimensional analogues); 
* not generally advisable for data frames as it will coerce to a matrix first

In [225]:
# traverse row wise
apply(m, 1, mean)

 [1] 1.301858 2.391462 2.832782 1.329367 1.997829 2.640660 1.862908 1.839289
 [9] 1.908433 2.200359 2.224789 1.982771 2.271134 2.678138 2.718928 2.132307
[17] 2.204665 2.395556 3.108013 3.237326 2.099066 2.704185 2.844597 2.274211
[25] 2.095139 2.593422 2.189031 3.426117 2.237144 2.076334

In [226]:
# traverse column wise
# using Our own functions
apply(m, 2, function(x) length(x[x<0]))

[1] 17  2  0

### lapply
* When you want to apply a function to each element of a list/vector in turn and get a list back

![](img/apply_fun.jpg)

In [227]:
lapply(1:3, function(x) x^2)

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

In [228]:
# you can use unlist with lapply to get a vector
unlist(lapply(1:3, function(x) x^2))

[1] 1 4 9

In [229]:
#simplify2array and sapply
simplify2array(lapply(1:3, function(x) x^2))

[1] 1 4 9

### saplly
* When you want to apply a function to each element of a list in turn, but you want avector back, rather than a list

In [230]:
sapply(1:3, function(x) x^2)

[1] 1 4 9

In [231]:
print(sapply(1:3, function(x) x^2,simplify = FALSE))

[[1]]
[1] 1

[[2]]
[1] 4

[[3]]
[1] 9

### taplly

In [232]:
print(tapply(mtcars$wt,mtcars$cyl,mean))

       4        6        8
2.285727 3.117143 3.999214

In [233]:
print(tapply(iris$Sepal.Length,iris$Species,mean))

    setosa versicolor  virginica
     5.006      5.936      6.588

In [234]:
print(tapply(iris$Sepal.Length,iris$Species,mean))

    setosa versicolor  virginica
     5.006      5.936      6.588

In [ ]:
# Without simplification, tapply always returns a list.
tapply(iris$Sepal.Length,iris$Species,mean, simplify = FALSE)

In [236]:
# split function splits a vector into groups using a factor.Using split 
# and then applying a function with lapply produces the same result as tapply
lapply(split(iris$Sepal.Length,iris$Species), mean) # Instead of tapply

$setosa
[1] 5.006

$versicolor
[1] 5.936

$virginica
[1] 6.588

### aggregate
* The aggregate function splits the data into subsets and computes summary statistics for each of them. 
* The output of aggregate is a data.frame, including a column for species.

In [257]:
# ?tapply
# ?aggregate

In [268]:
iris.x <- subset(iris, select= -Species) # subsetting without Species
iris.s <- subset(iris, select= Species) # subsetting only Species
aggregate(iris.x, iris.s, mean)

  Species    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     5.006        3.428       1.462        0.246
2 versicolor 5.936        2.770       4.260        1.326
3 virginica  6.588        2.974       5.552        2.026

In [265]:
aggregate(x = mtcars, by = list(mtcars$carb), FUN = median)

  Group.1 mpg   cyl disp   hp  drat  wt    qsec   vs  am gear carb
1 1       22.80 4   108.00  93 3.850 2.320 19.470 1.0 1  4.0  1
2 2       22.10 4   143.75 111 3.730 3.170 17.175 0.5 0  4.0  2
3 3       16.40 8   275.80 180 3.070 3.780 17.600 0.0 0  3.0  3
4 4       15.25 8   350.50 210 3.815 3.505 17.220 0.0 0  3.5  4
5 6       19.70 6   145.00 175 3.620 2.770 15.500 0.0 1  5.0  6
6 8       15.00 8   301.00 335 3.540 3.570 14.600 0.0 1  5.0  8

In [266]:
## example with character variables and NAs
testDF <- data.frame(v1 = c(1,3,5,7,8,3,5,NA,4,5,7,9),
                     v2 = c(11,33,55,77,88,33,55,NA,44,55,77,99) )
by1 <- c("red", "blue", 1, 2, NA, "big", 1, 2, "red", 1, NA, 12)
by2 <- c("wet", "dry", 99, 95, NA, "damp", 95, 99, "red", 99, NA, NA)
aggregate(x = testDF, by = list(by1, by2), FUN = "mean")

  Group.1 Group.2 v1 v2
1 1       95       5 55
2 2       95       7 77
3 1       99       5 55
4 2       99      NA NA
5 big     damp     3 33
6 blue    dry      3 33
7 red     red      4 44
8 red     wet      1 11

In [267]:
## Formulas, one ~ one, one ~ many, many ~ one, and many ~ many:
aggregate(weight ~ feed, data = chickwts, mean)
aggregate(breaks ~ wool + tension, data = warpbreaks, mean)
aggregate(cbind(Ozone, Temp) ~ Month, data = airquality, mean)
aggregate(cbind(ncases, ncontrols) ~ alcgp + tobgp, data = esoph, sum)

## Dot notation:
aggregate(. ~ Species, data = iris, mean)
aggregate(len ~ ., data = ToothGrowth, mean)

  feed      weight
1 casein    323.5833
2 horsebean 160.2000
3 linseed   218.7500
4 meatmeal  276.9091
5 soybean   246.4286
6 sunflower 328.9167

  wool tension breaks
1 A    L       44.55556
2 B    L       28.22222
3 A    M       24.00000
4 B    M       28.77778
5 A    H       24.55556
6 B    H       18.77778

  Month Ozone    Temp
1 5     23.61538 66.73077
2 6     29.44444 78.22222
3 7     59.11538 83.88462
4 8     59.96154 83.96154
5 9     31.44828 76.89655

   alcgp     tobgp    ncases ncontrols
1  0-39g/day 0-9g/day  9     261
2  40-79     0-9g/day 34     179
3  80-119    0-9g/day 19      61
4  120+      0-9g/day 16      24
5  0-39g/day 10-19    10      84
6  40-79     10-19    17      85
7  80-119    10-19    19      49
8  120+      10-19    12      18
9  0-39g/day 20-29     5      42
10 40-79     20-29    15      62
11 80-119    20-29     6      16
12 120+      20-29     7      12
13 0-39g/day 30+       5      28
14 40-79     30+       9      29
15 80-119    30+       7      12
16 120+      30+      10      13

  Species    Sepal.Length Sepal.Width Petal.Length Petal.Width
1 setosa     5.006        3.428       1.462        0.246
2 versicolor 5.936        2.770       4.260        1.326
3 virginica  6.588        2.974       5.552        2.026

  supp dose len
1 OJ   0.5  13.23
2 VC   0.5   7.98
3 OJ   1.0  22.70
4 VC   1.0  16.77
5 OJ   2.0  26.06
6 VC   2.0  26.14

### Difference between how apply and sapply handles the data

In [237]:
df <- data.frame(ingr=c("2L",6L, 7L),fctr=c(TRUE,FALSE,TRUE))

In [238]:
apply(df,2,class)
sapply(df,class)

       ingr        fctr
"character" "character"

     ingr      fctr
 "factor" "logical"

### mapply
* Multivariate version of sapply
* It applies FUN to the first elements of each () argument,  the second elements, the third elements, and so on.
* Note that the **first argument of mapply() here is the name of a function**
* advisable when you have several data structures (e.g. vectors, lists) and you want to apply a function over elements

In [239]:
l1 <- list(a = c(1:10), b = c(11:20))
l2 <- list(c = c(21:30), d = c(31:40))
# sum the corresponding elements of l1 and l2
print(mapply(sum, l1$a, l1$b, l2$c, l2$d))

 [1]  64  68  72  76  80  84  88  92  96 100

In [240]:
print(mapply(sum, l1))
#sum(c(1:10))

  a   b
 55 155

In [241]:
print(mapply(sum, l1,l2))
#sum(c(1:10),c(21:30))

  a   b
310 510

In [242]:
print(mapply(sum, l1$a, l1$b))

 [1] 12 14 16 18 20 22 24 26 28 30

In [243]:
print(mapply(sum, l1$a, l1$b, l2$c, l2$d))

 [1]  64  68  72  76  80  84  88  92  96 100

In [244]:
# Map - A wrapper to mapply with SIMPLIFY = FALSE, so it is guaranteed to return a list
print(Map(sum, l1$a, l1$b, l2$c, l2$d))

[[1]]
[1] 64

[[2]]
[1] 68

[[3]]
[1] 72

[[4]]
[1] 76

[[5]]
[1] 80

[[6]]
[1] 84

[[7]]
[1] 88

[[8]]
[1] 92

[[9]]
[1] 96

[[10]]
[1] 100

![](img/merge_from_ofoct.jpg)

![](img/merge_from_ofoct1.jpg)

**Further References on apply functions:**   
https://nsaunders.wordpress.com/2010/08/20/a-brief-introduction-to-apply-in-r/  
https://www.datacamp.com/community/tutorials/r-tutorial-apply-family  
https://stackoverflow.com/questions/3505701/grouping-functions-tapply-by-aggregate-and-the-apply-family/7701638

### by
* applys a function to each level of a factor or factors
* split your data by factors and do calculations on each subset
* similar to group by function in SQL, applied to factors, where in we may apply operations on individual results set.

In [245]:
# we apply colMeans() function to all the observations on iris dataset grouped by Species.
by(iris[, 1:4], iris$Species, colMeans)

iris$Species: setosa
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.006        3.428        1.462        0.246
------------------------------------------------------------
iris$Species: versicolor
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       5.936        2.770        4.260        1.326
------------------------------------------------------------
iris$Species: virginica
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
       6.588        2.974        5.552        2.026

### with
* applys an expression to a dataset  
**syntax:** `with(data, expression)`

In [246]:
with(mtcars, mpg[cyl == 8  &  disp > 350])
    # is the same as, but nicer than
mtcars$mpg[mtcars$cyl == 8  &  mtcars$disp > 350]

[1] 18.7 14.3 10.4 10.4 14.7 19.2 15.8

[1] 18.7 14.3 10.4 10.4 14.7 19.2 15.8

### Lets take one variable, square it and add 100
> "How many ways might an R beginner screw up such a simple computation"

In [247]:
#let's create a data frame
mydata <- data.frame(x = 1:5)
print(mydata)

  x
1 1
2 2
3 3
4 4
5 5

In [248]:
#### using dollar format: mydata$x

In [249]:
mydata.new <- mydata #take original data into another data frame

In [250]:
mydata.new$x2 <- mydata.new$x  ^ 2
mydata.new$x3 <- mydata.new$x2 + 100
print(mydata.new)

  x x2  x3
1 1  1 101
2 2  4 104
3 3  9 109
4 4 16 116
5 5 25 125

#### Using attach function
* Use the names like x" instead of mydata$x".
* The attach function allows you to use short names to refer to variables in a data frame

In [251]:
# the attach function is tricky to use. Heres the most common mistake made by beginners
mydata.new <- mydata
attach(mydata.new)
x2 <- x  ^ 2 
x3 <- x2 + 100
print(mydata.new)

The following object is masked from mydata.new (pos = 3):

    x

The following object is masked from mydata.new (pos = 4):

    x

The following object is masked from mydata.new (pos = 5):

    x

The following object is masked from mydata.new (pos = 6):

    x

The following object is masked from mydata.new (pos = 7):

    x

The following object is masked from mydata.new (pos = 8):

    x

The following object is masked from mydata.new (pos = 9):

    x

The following object is masked from mydata.new (pos = 10):

    x

  x
1 1
2 2
3 3
4 4
5 5

**proceed further on below interesting article:**   
http://r4stats.com/2013/01/22/comparing-tranformation-styles/